@define-color noti-fg #434138;
@define-color noti-bg rgba(245, 242, 237, 0.9);
@define-color noti-bg-hover-alt #e7e2d9;
@define-color noti-bg-alt rgba(231, 226, 217, 0.85);
@define-color noti-border-color rgba(67, 65, 56, 0.2);
@define-color noti-bg-hover rgba(67, 65, 56, 0.05);
@define-color noti-bg-focus rgba(67, 65, 56, 0.1);
@define-color noti-close-bg rgba(67, 65, 56, 0.1);
@define-color noti-close-bg-hover rgba(67, 65, 56, 0.15);
@define-color noti-urgent #d02023;
@define-color bg-selected #007a7e;

*{
  font-family: "GoMonoNerdFontPropo", "Noto Sans", sans-serif;
  font-size: 12px;
  color: @noti-fg;
}

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @noti-bg-focus;
}

.notification {
  border: none;
  border-radius: 4px;
  margin: 6px 12px;
  box-shadow: none;
  padding: 0;
  background: @noti-bg;
}

.critical {
  border: 1px solid @noti-urgent;
}


.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 4px;
}

.close-button {
  background: @noti-close-bg;
  color: @noti-fg;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  color: @noti-fg;
}

.notification-default-action:hover,
.notification-action:hover {
  background: @noti-bg-alt;
}

.notification-default-action {
  border-radius: 4px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 4px;
}

.notification-action:last-child {
  border-bottom-right-radius: 4px;
  border-right: 1px solid @noti-border-color;
}

.image {
    border-radius: 6px;
    margin-right: 10px;
}

.body-image {
  margin-top: 6px;
  background-color: @noti-fg;
  border-radius: 6px;
}

.summary {
  font-weight: bold;
  background: transparent;
  color: @noti-fg;
  text-shadow: none;
}

.time {
  font-size: 12px;
  font-weight: bold;
  background: transparent;
  color: @noti-fg;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 12px;
  font-weight: normal;
  background: transparent;
  color: @noti-fg;
  text-shadow: none;
}

.top-action-title {
  color: @noti-fg;
  text-shadow: none;
}

.control-center {
  background-color: @noti-bg-alt;
  border-radius: 6px;
  border: 1px solid @noti-border-color;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: transparent;
}

.widget-title {
  margin: 8px;
  font-size: 12px;
  color: @noti-fg;
}

.widget-title>button {
  font-size: initial;
  color: @noti-fg;
  text-shadow: none;
  background: @noti-bg-alt;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 4px;
}

.widget-title>button:hover {
  background: @noti-bg-hover;
}

.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 4px;
  background: @noti-bg-alt;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  color: @noti-fg;
}

.widget-dnd>switch:checked {
  background: @bg-selected;
}

.widget-label {
  margin: 4px 8px 8px;
  color: @noti-fg;
}

.widget-label>label {
  font-size: 16px;
  color: @noti-fg;
}

.widget-mpris {
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
  color: @noti-fg;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
  color: @noti-fg;
}

.widget-volume {
  background-color: @noti-bg;
  padding: 4px 4px 4px 20px;
  margin: 0px 8px 8px 8px;
  border-radius: 4px;
  font-size: 14px;
  color: @noti-fg;
}
.widget-volume > box > button {
  background: transparent;
  color: @noti-fg;
}

.widget-volume > box > button:hover {
  background: transparent;
}
.widget-volume > revealer > list {
  background-color: @noti-bg;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0px;
  font-size: 11px;
}
.widget-volume > revealer > list > row {
  padding-left: 10px;
  min-height: 40px;
  background: transparent;
  font-size: 11px;
}
.widget-volume > revealer > list > row:hover {
  background: transparent;
  box-shadow: none;
  border-radius: 4px;
  font-size: 11px;
}

.widget-backlight {
  background-color: @noti-bg;
  padding: 4px 4px 4px 20px;
  margin: 0px 8px 8px 8px;
  border-radius: 4px;
  font-size: 14px;  
  color: @noti-fg;
}

.KB {
  padding: 4px 8px 4px 8px;
  margin: 0px 8px 0px 8px;
  border-radius: 0;
  color: @noti-fg;
}

.widget-menubar>box{
  padding: 8px 0px 4px;
  margin: 0px 8px;
  border-radius: 4px 4px 0px 0px;
  background-color: @noti-bg;
}

.widget-menubar>box>.menu-button-bar>button{
  border: 1px solid @noti-border-color;
  background: @noti-bg-alt;
  border-radius: 4px;
  margin: 4px 8px;
  color: @noti-fg;
}

.widget-buttons-grid{
  padding: 0 8px 8px;
  margin: 0px 8px 8px;
  border-radius: 0px 0px 4px 4px;
  background-color: @noti-bg;
  font-size: 14px;
  color: @noti-fg;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  background: @noti-bg-alt;
  border-radius: 4px;
  margin: 5px;
  color: @noti-fg;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @noti-bg-hover;
}

.screenshot-buttons,
.screencast-buttons,
.powermode-buttons,
.power-buttons{
  border-radius: 4px;
}

.screenshot-buttons>button,
.screencast-buttons>button,
.powermode-buttons>button,
.power-buttons>button{
  background: transparent;
  padding: 2px 0px;
  margin: 5px 70px 3px;
  border: 1px solid @noti-border-color;
  color: @noti-fg;
}

.screenshot-buttons>button:hover,
.screencast-buttons>button:hover,
.powermode-buttons>button:hover,
.power-buttons>button:hover{
  background: @noti-bg-hover;
}

.control-center .widget-title > label {
  font-size: 16px;
  color: @noti-fg;
}
