* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(255, 255, 255, 0.9);
}

button {
    border-radius: 0;
    border-color: #E6E6E6;
	text-decoration-color: #000000;
    color: #000000;
	background-color: #F2F2F2;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
    margin: 5px;
}

button:focus, button:active, button:hover {
	background-color: #E6E6E6;
	outline-style: none;
}

#lock {
      background-image: image(url("./icons/lock.png"));
}

#logout {
      background-image: image(url("./icons/logout.png"));
}

#suspend {
      background-image: image(url("./icons/suspend.png"));
}

#hibernate {
      background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
      background-image: image(url("./icons/shutdown.png"));
}

#reboot {
      background-image: image(url("./icons/reboot.png"));
}