* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(245, 242, 237, 0.9); /* Equilibrium Light Base00 */
}

button {
    border-radius: 15px;
    border-color: #d8d4cb; /* Base02 */
	text-decoration-color: #434138; /* Base05 */
    color: #434138; /* Base05 */
	background-color: #e7e2d9; /* Equilibrium Light Base01 */
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
    margin: 15px;
}

button:focus, button:active, button:hover {
	background-color: #d8d4cb; /* Equilibrium Light Base02 */
	outline-style: none;
}

#lock {
      background-image: image(url("./icons/lock-black.png"));
}

#logout {
      background-image: image(url("./icons/logout-black.png"));
}

#suspend {
      background-image: image(url("./icons/suspend-black.png"));
}

#hibernate {
      background-image: image(url("./icons/hibernate-black.png"));
}

#shutdown {
      background-image: image(url("./icons/shutdown-black.png"));
}

#reboot {
      background-image: image(url("./icons/reboot-black.png"));
}