* {
    border: none;
    border-radius: 0;
    min-height: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    /*font-family: JetBrainsMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: GoMonoNerdFontPropo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 13px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

.modules-left,
.modules-center,
.modules-right {
    border-radius: 5px;
    background-color: rgba(43, 48, 59, 0.5);
    padding: 2px 6px;
}

#mode {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 15px;
    color: #cba6f7;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: transparent;
    background: rgba(17, 17, 27, 1);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #11111b;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: #f5f5f5;
    color: #11111b;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#clock {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#battery {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: transparent;
    color: #ffb57a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#memory {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#disk {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#backlight {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#network {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#network.disconnected {
    background-color: #f53c3c;
    color: #ffb57a;
}

#pulseaudio {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#pulseaudio.muted {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffb57a;
}

#wireplumber {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#wireplumber.muted {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffb57a;
}

#temperature {
    background-color: #f0932b;
    padding: 5px 5px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
    padding: 5px 5px;
}

#keyboard-state {
    background-color: transparent;
    color: #ffffff;
    margin: 0 5px;
    min-width: 16px;
    padding: 5px 5px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: #ff99ff;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#taskbar {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
}

#taskbar button.active {
    background-color: #89b4fa;
    color: #11111b;
    border-radius: 10px;
}

#taskbar.empty {
    background-color: transparent;
}
#custom-walker {
    font-size: 16px;
}

#custom-clipboard {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
}

#custom-notification {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
    font-family: "GoMonoNerdFontPropo";
}

#custom-insync {
    background: #25253a;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #ffffff;
    font-family: "GoMonoNerdFontPropo";
    font-size: 16px;
}

#custom-insync.error {
    color: #f53c3c;
}

#custom-insync.syncing {
    color: #8a69db;
}

/* Make backlight and pulseaudio modules look like a single block */
#backlight {
    margin: 5px 0 5px 5px;
    border-radius: 15px 0 0 15px;
    padding-right: 0px;
    min-width: 55px;
}

#pulseaudio {
    margin: 5px 5px 5px 0;
    border-radius: 0 15px 15px 0;
    padding-left: 0px;
    min-width: 55px;
}

/* Make cpu and memory modules look like a single block */
#cpu {
    margin: 5px 0 5px 5px;
    border-radius: 15px 0 0 15px;
    padding-right: 0px;
    min-width: 55px;
}

#memory {
    margin: 5px 5px 5px 0;
    border-radius: 0 15px 15px 0;
    padding-left: 0px;
    min-width: 55px;
}
