* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: GoMonoNerdFontPropo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 13px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #2E3440;
}

.modules-left, .modules-center, .modules-right {
    border-radius: 5px;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 2px 6px;
}

#mode {
    background-color: #A6D1E6;
    box-shadow: inset 0 -3px #2E3440;
}

#workspaces {
    background: #B3B3B3;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 15px;
    color: #ffffff;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: transparent;
    background: #D8DEE9;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: #5E81AC;
    color: #ECEFF4;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: #E5E9F0;
    color: #2E3440;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#taskbar,
#custom-clipboard,
#custom-notification,
#custom-insync {
    background: #B3B3B3;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 15px;
    color: #2E3440; 
}

@keyframes blink {
    to {
        background-color: #F4F6F8;
        color: #BF616A;
    }
}

#battery.critical:not(.charging) {
    background-color: transparent;
    color: #D08770;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #E5E9F0;
}

#network.disconnected {
    background-color: #BF616A;
    color: #ECEFF4;
}

#pulseaudio.muted,
#wireplumber.muted {
    color: #D08770;
}

#temperature {
    background-color: #EBCB8B;
    padding: 5px 5px;
}

#temperature.critical {
    background-color: #BF616A;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #BF616A;
}

#idle_inhibitor {
    background-color: #ECEFF4;
}

#idle_inhibitor.activated {
    background-color: #A3BE8C;
    color: #2E3440;
}

#mpd {
    background-color: #A3BE8C;
    color: #2E3440;
}

#mpd.disconnected {
    background-color: #BF616A;
}

#mpd.stopped {
    background-color: #D8DEE9;
}

#mpd.paused {
    background-color: #81A1C1;
}

#language {
    background: #88C0D0;
    color: #2E3440;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
    padding: 5px 5px;
}

#keyboard-state {
    background-color: transparent;
    color: #2E3440;
    margin: 0 5px;
    min-width: 16px;
    padding: 5px 5px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: #EBCB8B;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.1);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #ECEFF4;
}

#privacy-item.screenshare {
    background-color: #D08770;
}

#privacy-item.audio-in {
    background-color: #A3BE8C;
}

#privacy-item.audio-out {
    background-color: #5E81AC;
}

#custom-walker {
  font-size: 16px;
}

#custom-insync.error {
  color: #BF616A;
}

#custom-insync.syncing {
  color: #81A1C1;
}

/* Make backlight and pulseaudio modules look like a single block */
#backlight {
    margin: 5px 0 5px 5px;
    border-radius: 15px 0 0 15px;
    padding-right: 4px;
}

#pulseaudio {
    margin: 5px 5px 5px 0;
    border-radius: 0 15px 15px 0;
    padding-left: 4px;
}

/* Make cpu and memory modules look like a single block */
#cpu {
    margin: 5px 0 5px 5px;
    border-radius: 15px 0 0 15px;
    padding-right: 4px;
}

#memory {
    margin: 5px 5px 5px 0;
    border-radius: 0 15px 15px 0;
    padding-left: 4px;
}
