[SddmGreeterTheme]
Name=sicos
Description=A minimalist, nerd-inspired SDDM theme
Author=egarcia
Type=sddm-theme
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=sicos
Theme-API=2.0
QtVersion=6